body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: block;
}

/* When writing CSS classes it is VERY important that you use hyphen delimited strings (square-div and NOT squareDiv) */
/* Addtionally, you should know what the class does just by looking at the name (the name should be DESCRIPTIVE) */
/* When thinking about sizing elements on your page, there are many different units you can use = https://www.w3schools.com/cssref/css_units.asp */
.img-div {
	height: calc(100%/3*2);
	width: 100%;
}

.thirds {
	height: calc(100%/3);
	width: 100%;
	display: flex;
}

.hidden-div {
	height: 50%;
	width: 100%;
	display: flex;
	
}

.hidden-box {
	height: 100%;
	width: 25%;
	display: ;

}
.half-vert-left {
	height: 100%;
	width: 50%;
	display: block;
}
.half-vert-right {
	height: 100%;
	width: 50%;
	display: flex;
}
	
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.reset {
	max-height: 50%;
	max-width: 50%;
}

.letter-constraint {
	height: 30%;
	width: 15%;
	padding: 3px;
}

/* When possible, organize CSS classes in alphabetical order */
.lavender {
	background-color: #B17EE8;
}
.opaque {
	opacity: 0;
}
.green {
	background-color: #8BFF69;
}
.background {
	background: url('images/forest2.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
.yellow {
	background-color: #FFEA4F;
}
.blue {
	background-color: #7AE8D1;
}
.grey {
	background-color: #73888A;
}
.salmon {
	background-color: #FF5755;
}
.perriwinkle {
	background-color: #8790E8;
}
.block {
	display: block;
}
.flex {
	display: flex;
}
.center-content {
	align-items: center;
	justify-content: center;
	display: flex;
}
.left-bottom {
	align-items: flex-start;
	justify-content: flex-end;
	display: flex;
}
.right-bottom {
	align-items: flex-end;
	justify-content: flex-end;
	display: flex;
}
.right-top {
	align-items: flex-start;
	justify-content: flex-end;
	display: flex;
}
.left-top {
	align-items: flex-start;
	justify-content: flex-start;
	display: flex;
}
.restrict-img-size {
	max-height: 100%;
	max-width: 100%;
}

.max-size {
	height: 100%;
	width: 100%;
}
.restrict {
	max-height: 100%;
	max-width: 100%;
}